/dts-v1/;

#include "system-top.dts"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Zynq PYNQ-Z2 Development Board";
	compatible = "digilent,zynq-artyz", "xlnx,zynq-7000";

	chosen {
		bootargs = "earlycon root=/dev/mmcblk0p2 rw rootfstype=ext4 rootwait";
		stdout-path = "serial0:115200n8";
	};

        usb_phy0: phy0 {
                compatible = "ulpi-phy";
                #phy-cells = <0>;
                reg = <0xe0002000 0x1000>;
                view-port = <0x170>;
                drv-vbus;
        };

	gpio-leds {
		compatible = "gpio-leds";
		led4_b {
			label = "LED4_B";
			gpios = <&gpio0 56 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led4_g {
			label = "LED4_G";
			gpios = <&gpio0 57 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led4_r {
			label = "LED4_R";
			gpios = <&gpio0 58 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led5_b {
			label = "LED5_B";
			gpios = <&gpio0 59 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led5_g {
			label = "LED5_G";
			gpios = <&gpio0 60 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led5_r {
			label = "LED5_R";
			gpios = <&gpio0 61 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led0 {
			label = "LED0";
			gpios = <&gpio0 62 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		led1 {
			label = "LED1";
			gpios = <&gpio0 63 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};
		led2 {
			label = "LED2";
			gpios = <&gpio0 64 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led3 {
			label = "LED3";
			gpios = <&gpio0 65 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		display_led { // LED BACKLIGHT PIN
			label = "display:led";
			gpios = <&gpio0 72 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		btn0 {
			label = "BTN0";
			linux,code = <BTN_TRIGGER_HAPPY1>; // Key Code 2c0
			gpios = <&gpio0 66 GPIO_ACTIVE_LOW>;
		};
		btn1 {
			label = "BTN1";
			linux,code = <BTN_TRIGGER_HAPPY2>; // Key Code 2c1
			gpios = <&gpio0 67 GPIO_ACTIVE_LOW>;
		};
		btn2 {
			label = "BTN2";
			linux,code = <BTN_TRIGGER_HAPPY3>; // Key Code 2c2
			gpios = <&gpio0 68 GPIO_ACTIVE_LOW>;
		};
		btn3 {
			label = "BTN3";
			linux,code = <BTN_TRIGGER_HAPPY4>; // Key Code 2c3
			gpios = <&gpio0 69 GPIO_ACTIVE_LOW>;
		};
	};

	display_supply: fixed_3v3@0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&gem0 {
	u-boot,dm-pre-reloc;
	status = "okay";

	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
	};
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
        usb-phy = <&usb_phy0>;
};

/* PYNQ-Z2 GPIO Schematic Symbols (see also fpga/sdk/ps7_init.html)
 * Where 'gpioX_NC', means GPIO X is Not Connected.
 */
&gpio0 {
	gpio-line-names =
		"gpio0_NC", "SPI_CS", "SPI_DQ0", "SPI_DQ1",
		"SPI_DQ2", "SPI_DQ3", "SPI_SCK", "VCFG0",
		"SPI_SCLK_FB", "ETH_RST_B", "ETH_INT_B", "OTG_OC",
		"AR_RST", "gpio13_NC", "UART_TXD_IN(rx)", "UART_RXD_OUT(tx)",
		"ETH_TXCK", "ETH_TXD0", "ETH_TXD1", "ETH_TXD2",
		"ETH_TXD3", "ETH_TXCTL", "ETH_RXCK", "ETH_RXD0",
		"ETH_RXD1", "ETH_RXD2", "ETH_RXD3", "ETH_RXCTL",
		"OTG_DATA4", "OTG_DIR", "OTG_STP", "OTG_NXT",
		"OTG_DATA0", "OTG_DATA1", "OTG_DATA2", "OTG_DATA3",
		"OTG_CLK", "OTG_DATA5", "OTG_DATA6", "OTG_DATA7",
		"SD_CCLK", "SD_CMD", "SD_D0", "SD_D1",
		"SD_D2", "SD_D3", "OTG_RESETN", "SD_CD",
		"gpio48_NC", "gpio49_NC", "HDMI_TX_SCL", "HDMI_TX_SDA",
		"ETH_MDC", "ETH_MDIO", "SW0", "SW1",
		"LED4_B", "LED4_G", "LED4_R", "LED5_B",
		"LED5_G", "LED5_R", "LD0", "LD1",
		"LD2", "LD3", "BTN0", "BTN1",
		"BTN2", "BTN3", "PMODA_7", "PMODA_8",
		"PMODB_7", "PMODB_8", "AR6", "AR7",
		"AR8", "AR9", "AR10", "AR11",
		"AR12", "AR13", "A", "RPIO_14_R",
		"RPIO_15_R", "RPIO_18_R", "RPIO_23_R", "RPIO_24_R",
		"RPIO_12_R", "RPIO_16_R", "gpio90_NC", "gpio91_NC",
		"gpio92_NC", "gpio93_NC", "gpio94_NC", "gpio95_NC",
		"gpio96_NC", "gpio97_NC", "gpio98_NC", "gpio99_NC",
		"gpio100_NC", "gpio101_NC", "gpio102_NC", "gpio103_NC",
		"gpio104_NC", "gpio105_NC", "gpio106_NC", "gpio107_NC",
		"gpio108_NC", "gpio109_NC", "gpio110_NC", "gpio111_NC",
		"gpio112_NC", "gpio113_NC", "gpio114_NC", "gpio115_NC",
		"gpio116_NC", "gpio117_NC";
};

&pl_xadc {
	status = "okay";

	xlnx,channels {
		#address-cells = <1>;
		#size-cells = <0>;
		vaux1@2 { /* A0 */
			reg = <2>;
		};
		vaux5@6 { /* A4 */
			reg = <6>;
		};
		vaux6@7 { /* A2 */
			reg = <7>;
		};
		vaux9@10 { /* A1 */
			reg = <10>;
		};
		vaux13@14 { /* A5 */
			reg = <14>;
		};
		vaux15@16 { /* A3 */
			reg = <16>;
		};
	};
};

&pl_timer {
	status = "okay";
};

&pl_spi {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	spidev@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};
	spidev@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <5000000>;
	};
	spidev@2 {
		compatible = "spidev";
		reg = <2>;
		spi-max-frequency = <5000000>;
	};
};

&spi0 {
	display: ili9341@0{
		compatible = "ilitek,ili9341";
		reg = <0>;
		spi-max-frequency = <32000000>;
		bgr;
		fps = <60>;
		debug = <0>;
		rotate = <90>;
		regwidth = <8>;
		buswidth = <8>;
		dc-gpios = <&gpio0 70 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 71 GPIO_ACTIVE_HIGH>;
	};
	display_ts: ads7846@1 {
		compatible = "ti,ads7846";
		reg = <1>;
		spi-max-frequency = <1000000>;
		ti,swap-xy;
		pendown-gpio = <&gpio0 73 0>;
		interrupts = <73 0>;
		interrupt-parent = <&gpio0>;
		vcc-supply = <&display_supply>;
		ti,x-min = /bits/ 16 <0>;
		ti,x-max = /bits/ 16 <8000>;
		ti,y-min = /bits/ 16 <0>;
		ti,y-max = /bits/ 16 <4800>;
		ti,x-plate-ohms = /bits/ 16 <40>;
		ti,pressure-max = /bits/ 16 <255>;
		wakeup-source;
	};
	spidev@2 {
		compatible = "spidev";
		reg = <2>;
		spi-max-frequency = <5000000>;
	};
};

&spi1 {
        spidev@0 {
                compatible = "spidev";
                reg = <0>;
                spi-max-frequency = <5000000>;
        };
        spidev@1 {
                compatible = "spidev";
                reg = <1>;
                spi-max-frequency = <5000000>;
        };
        spidev@2 {
                compatible = "spidev";
                reg = <2>;
                spi-max-frequency = <5000000>;
        };
};

&ttc0 {
	status = "okay";

	clock-frequency = <0x7f28155>;
	xlnx,ttc-clk0-clksrc = <0x0>; /* PWM 0 . AR0 */
	xlnx,ttc-clk0-freq-hz = <0x7f28155>;
	clock-frequency-timer0 = <0x7f28155>;
	xlnx,ttc-clk1-clksrc = <0x0>; /* PWM 1 . AR1 */
	xlnx,ttc-clk1-freq-hz = <0x7f28155>;
	clock-frequency-timer1 = <0x7f28155>;
	xlnx,ttc-clk2-clksrc = <0x0>; /* PWM 2 . AR2 */
	xlnx,ttc-clk2-freq-hz = <0x7f28155>;
	clock-frequency-timer2 = <0x7f28155>;
};

&ttc1 {
	status = "okay";

	clock-frequency = <0x7f28155>;
	xlnx,ttc-clk0-clksrc = <0x0>; /* PWM 3 . AR3 */
	xlnx,ttc-clk0-freq-hz = <0x7f28155>;
	clock-frequency-timer0 = <0x7f28155>;
	xlnx,ttc-clk1-clksrc = <0x0>; /* PWM 4 . AR4 */
	xlnx,ttc-clk1-freq-hz = <0x7f28155>;
	clock-frequency-timer1 = <0x7f28155>;
	xlnx,ttc-clk2-clksrc = <0x0>; /* PWM 5 . AR5 */
	xlnx,ttc-clk2-freq-hz = <0x7f28155>;
	clock-frequency-timer2 = <0x7f28155>;
};

&display {
	status = "okay";
};

&display_ts {
	status = "okay";
};
