/NA
/device-tree-xlnx
/embeddedsw
/pynq_z2
/sdk
/zynq-mkbootimage
/dts/*/xilinx/pcw.dtsi
/dts/*/xilinx/pl.dtsi
/dts/*/xilinx/system-top.dts
/dts/*/xilinx/system.dts
/.Xil
/*.patch
*.jou
*.log
*.o
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
